apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--entrypoints.web.forwardedHeaders.insecure=true"
      - "--entryPoints.websecure-int.http.tls=true"
      - "--entryPoints.websecure-ext.http.tls=true"
      - "--providers.kubernetescrd.allowExternalNameServices=true"
      - "--providers.kubernetesingress.allowExternalNameServices=true"
    ports:
      websecure:
        port: 8444
        expose:
          default: false
      websecure-int:
        port: 9443
        expose:
          default: false
        exposedPort: 443
        protocol: TCP
        http:
          tls:
            enabled: true
      websecure-ext:
        port: 8443
        expose:
          default: true
        exposedPort: 443
        protocol: TCP
        http:
          tls:
            enabled: true
    service:
      annotations:
        metallb.io/loadBalancerIPs: "10.10.20.240,fd7b:c87:127b:14::240"
      spec:
        loadBalancerClass: metallb.universe.tf/metallb
        ipFamilyPolicy: PreferDualStack
        ipFamilies:
          - IPv4
          - IPv6
