apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/instance: traefik-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  valuesContent: |-
    additionalArguments:
      - "--entrypoints.web.forwardedHeaders.insecure=true"
      - "--entryPoints.websecure-int.http.tls=true"
      - "--entryPoints.websecure-int.http.middlewares=infrastructure-lan-allow-10-8@kubernetescrd"
      - "--entryPoints.websecure-pub.http.tls=true"
      - "--providers.kubernetescrd.allowExternalNameServices=true"
      - "--providers.kubernetesingress.allowExternalNameServices=true"
    ports:
      websecure:
        port: 8444
        expose:
          default: false
      ssh:
        port: 2222
        expose:
          default: false
        exposedPort: 22
        protocol: TCP
      websecure-int:
        port: 9443
        expose:
          default: false
        exposedPort: 443
        protocol: TCP
        http:
          tls:
            enabled: true
      websecure-pub:
        port: 8443
        expose:
          default: true
        exposedPort: 443
        protocol: TCP
        http:
          tls:
            enabled: true
    service:
      annotations:
        lbipam.cilium.io/ips: 10.10.20.240
      spec:
        externalTrafficPolicy: Local
        loadBalancerClass: io.cilium/l2-announcer
