apiVersion: v1
kind: ConfigMap
metadata:
  name: blackbox-exporter-config
  namespace: monitoring
data:
  blackbox.yml: |
    modules:
      traefik_vip:
        prober: http
        timeout: 5s
        http:
          method: GET
          headers:
            Host: homepage.romanpeters.nl
          valid_http_versions:
            - HTTP/1.1
            - HTTP/2.0
          valid_status_codes:
            - 200
            - 301
            - 302
            - 303
            - 307
            - 308
          tls_config:
            insecure_skip_verify: true
