apiVersion: apps/v1
kind: Deployment
metadata:
  name: playwright-chrome
  labels:
    app.kubernetes.io/name: playwright-chrome
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: playwright-chrome
  template:
    metadata:
      labels:
        app.kubernetes.io/name: playwright-chrome
    spec:
      containers:
        - name: playwright-chrome
          image: browserless/chrome
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: SCREEN_WIDTH
              value: "1920"
            - name: SCREEN_HEIGHT
              value: "1024"
            - name: SCREEN_DEPTH
              value: "16"
            - name: ENABLE_DEBUGGER
              value: "false"
            - name: PREBOOT_CHROME
              value: "true"
            - name: CONNECTION_TIMEOUT
              value: "300000"
            - name: MAX_CONCURRENT_SESSIONS
              value: "10"
            - name: CHROME_REFRESH_TIME
              value: "600000"
            - name: DEFAULT_BLOCK_ADS
              value: "true"
            - name: DEFAULT_STEALTH
              value: "true"
