apiVersion: apps/v1
kind: Deployment
metadata:
  name: calibre-web
  labels:
    app.kubernetes.io/name: calibre-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: calibre-web
  template:
    metadata:
      labels:
        app.kubernetes.io/name: calibre-web
    spec:
      containers:
        - name: calibre-web
          image: lscr.io/linuxserver/calibre-web:0.6.21-ls259
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8083
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/New_York"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /mnt/media/books/ebooks
              subPath: books/ebooks
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: calibre-web-config
        - name: media
          persistentVolumeClaim:
            claimName: media-nfs
