apiVersion: apps/v1
kind: Deployment
metadata:
  name: searxng
  labels:
    app.kubernetes.io/name: searxng
    app.kubernetes.io/instance: searxng-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: public
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: searxng
  template:
    metadata:
      labels:
        app.kubernetes.io/name: searxng
        app.kubernetes.io/instance: searxng-prod
        app.kubernetes.io/part-of: homelab
        app.kubernetes.io/managed-by: flux
        exposure: public
    spec:
      containers:
        - name: gluetun
          image: qmcgaw/gluetun:v3.41.1@sha256:1a5bf4b4820a879cdf8d93d7ef0d2d963af56670c9ebff8981860b6804ebc8ab
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          env:
            - name: TZ
              value: "Europe/Amsterdam"
            - name: VPN_SERVICE_PROVIDER
              value: "nordvpn"
            - name: VPN_TYPE
              value: "openvpn"
            - name: OPENVPN_USER
              value: "Qf91ci2URG4bWVkjUHmDWsEE"
            - name: OPENVPN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: gluetun-openvpn
                  key: OPENVPN_PASSWORD
            - name: SERVER_COUNTRIES
              value: "Romania"
            - name: FIREWALL_INPUT_PORTS
              value: "8080"
            - name: FIREWALL_OUTBOUND_SUBNETS
              value: "10.0.0.0/8,10.42.0.0/16,10.43.0.0/16"
          volumeMounts:
            - name: tun
              mountPath: /dev/net/tun
        - name: searxng
          image: docker.io/searxng/searxng:2026.2.16-8e824017d@sha256:60055af6f2f1ca14b488d9c0f47a019d1dbaf15b4f6547a7194253bf2ab94744
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
          ports:
            - name: http
              containerPort: 8080
          env:
            - name: TZ
              value: "Europe/Amsterdam"
            - name: BASE_URL
              value: "https://search.romanpeters.nl/"
            - name: INSTANCE_NAME
              value: "Roman Search"
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 20
      volumes:
        - name: tun
          hostPath:
            path: /dev/net/tun
            type: CharDevice
