apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  labels:
    app.kubernetes.io/name: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: n8n
  template:
    metadata:
      labels:
        app.kubernetes.io/name: n8n
    spec:
      containers:
        - name: n8n
          image: n8nio/n8n:1.114.2
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 5678
          env:
            - name: TZ
              value: "Europe/Amsterdam"
            - name: N8N_HOST
              value: "n8n.romanpeters.nl"
            - name: N8N_PROTOCOL
              value: "https"
            - name: N8N_PORT
              value: "5678"
            - name: WEBHOOK_URL
              value: "https://n8n.romanpeters.nl/"
          volumeMounts:
            - name: data
              mountPath: /home/node/.n8n
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: n8n-config
