apiVersion: v1
kind: ConfigMap
metadata:
  name: garage-config
  namespace: infrastructure
data:
  garage.toml: |
    metadata_dir = "/var/lib/garage/meta"
    data_dir = "/var/lib/garage/data"
    db_engine = "sqlite"
    replication_factor = 1

    rpc_bind_addr = "[::]:3901"
    rpc_public_addr = "garage.infrastructure.svc.cluster.local:3901"
    rpc_secret_file = "/run/secrets/garage/rpc_secret"

    [s3_api]
    api_bind_addr = "[::]:3900"
    s3_region = "garage"
    root_domain = ".s3.romanpeters.nl"

    [s3_web]
    bind_addr = "[::]:3902"
    root_domain = ".cdn.romanpeters.nl"
    index = "index.html"

    [admin]
    api_bind_addr = "0.0.0.0:3903"
    admin_token_file = "/run/secrets/garage/admin_token"
    metrics_token_file = "/run/secrets/garage/metrics_token"
    metrics_require_token = true
