apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: home-external
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`home.romanpeters.nl`)
      kind: Rule
      middlewares:
        - name: authentik-forward-auth
      services:
        - name: home-external
          port: 8123
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: kvm-external
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`kvm.romanpeters.nl`)
      kind: Rule
      middlewares:
        - name: authentik-forward-auth
      services:
        - name: kvm-external
          port: 80
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ollama-external
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`ollama.romanpeters.nl`)
      kind: Rule
      middlewares:
        - name: authentik-forward-auth
      services:
        - name: ollama-external
          port: 11434
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: plex-external
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`plex.romanpeters.nl`)
      kind: Rule
      middlewares:
        - name: authentik-forward-auth
      services:
        - name: plex-external
          port: 32400
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: proxmox-external
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`proxmox.romanpeters.nl`)
      kind: Rule
      middlewares:
        - name: authentik-forward-auth
      services:
        - name: proxmox-external
          port: 8006
          scheme: https
          serversTransport: proxmox-transport
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: unifi-external
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`unifi.romanpeters.nl`)
      kind: Rule
      middlewares:
        - name: authentik-forward-auth
      services:
        - name: unifi-external
          port: 443
          scheme: https
          serversTransport: proxmox-transport
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: unas-external
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`unas.romanpeters.nl`)
      kind: Rule
      middlewares:
        - name: authentik-forward-auth
      services:
        - name: unas-external
          port: 443
          scheme: https
          serversTransport: proxmox-transport
  tls:
    secretName: romanpeters-nl-tls
