apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: home-external
  labels:
    app.kubernetes.io/name: home-external
    app.kubernetes.io/instance: home-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`home.romanpeters.nl`)
      kind: Rule
      services:
        - name: home-external
          port: 8123
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: kvm-external
  labels:
    app.kubernetes.io/name: kvm-external
    app.kubernetes.io/instance: kvm-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`kvm.romanpeters.nl`)
      kind: Rule
      services:
        - name: kvm-external
          port: 80
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ollama-external
  labels:
    app.kubernetes.io/name: ollama-external
    app.kubernetes.io/instance: ollama-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`ollama.romanpeters.nl`)
      kind: Rule
      services:
        - name: ollama-external
          port: 11434
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: plex-external
  labels:
    app.kubernetes.io/name: plex-external
    app.kubernetes.io/instance: plex-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`plex.romanpeters.nl`)
      kind: Rule
      services:
        - name: plex-external
          port: 32400
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: proxmox-external
  labels:
    app.kubernetes.io/name: proxmox-external
    app.kubernetes.io/instance: proxmox-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`proxmox.romanpeters.nl`)
      kind: Rule
      services:
        - name: proxmox-external
          port: 8006
          scheme: https
          serversTransport: proxmox-transport
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: unifi-external
  labels:
    app.kubernetes.io/name: unifi-external
    app.kubernetes.io/instance: unifi-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`unifi.romanpeters.nl`)
      kind: Rule
      services:
        - name: unifi-external
          port: 443
          scheme: https
          serversTransport: proxmox-transport
  tls:
    secretName: romanpeters-nl-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: unas-external
  labels:
    app.kubernetes.io/name: unas-external
    app.kubernetes.io/instance: unas-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  entryPoints:
    - websecure-int
  routes:
    - match: Host(`unas.romanpeters.nl`)
      kind: Rule
      services:
        - name: unas-external
          port: 443
          scheme: https
          serversTransport: proxmox-transport
  tls:
    secretName: romanpeters-nl-tls
