apiVersion: v1
kind: Service
metadata:
  name: home-external
  labels:
    app.kubernetes.io/name: home-external
    app.kubernetes.io/instance: home-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  ports:
    - name: http
      port: 8123
      targetPort: 8123
---
apiVersion: v1
kind: Endpoints
metadata:
  name: home-external
  labels:
    app.kubernetes.io/name: home-external
    app.kubernetes.io/instance: home-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
subsets:
  - addresses:
      - ip: 10.10.10.111
    ports:
      - name: http
        port: 8123
---
apiVersion: v1
kind: Service
metadata:
  name: kvm-external
  labels:
    app.kubernetes.io/name: kvm-external
    app.kubernetes.io/instance: kvm-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  ports:
    - name: http
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Endpoints
metadata:
  name: kvm-external
  labels:
    app.kubernetes.io/name: kvm-external
    app.kubernetes.io/instance: kvm-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
subsets:
  - addresses:
      - ip: 10.10.20.121
    ports:
      - name: http
        port: 80
---
apiVersion: v1
kind: Service
metadata:
  name: ollama-external
  labels:
    app.kubernetes.io/name: ollama-external
    app.kubernetes.io/instance: ollama-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  type: ExternalName
  externalName: mac-mini
  ports:
    - name: http
      port: 11434
      targetPort: 11434
---
apiVersion: v1
kind: Service
metadata:
  name: plex-external
  labels:
    app.kubernetes.io/name: plex-external
    app.kubernetes.io/instance: plex-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  type: ExternalName
  externalName: plex.internal
  ports:
    - name: http
      port: 32400
      targetPort: 32400
---
apiVersion: v1
kind: Service
metadata:
  name: proxmox-external
  labels:
    app.kubernetes.io/name: proxmox-external
    app.kubernetes.io/instance: proxmox-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  ports:
    - name: https
      port: 8006
      targetPort: 8006
---
apiVersion: v1
kind: Endpoints
metadata:
  name: proxmox-external
  labels:
    app.kubernetes.io/name: proxmox-external
    app.kubernetes.io/instance: proxmox-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
subsets:
  - addresses:
      - ip: 10.10.10.250
    ports:
      - name: https
        port: 8006
---
apiVersion: v1
kind: Service
metadata:
  name: unifi-external
  labels:
    app.kubernetes.io/name: unifi-external
    app.kubernetes.io/instance: unifi-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  type: ExternalName
  externalName: unifi
  ports:
    - name: https
      port: 443
      targetPort: 443
---
apiVersion: v1
kind: Service
metadata:
  name: unas-external
  labels:
    app.kubernetes.io/name: unas-external
    app.kubernetes.io/instance: unas-external-prod
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: flux
    exposure: internal
spec:
  type: ExternalName
  externalName: unas
  ports:
    - name: https
      port: 443
      targetPort: 443
